<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body id="welcome">
    <h1>Movie Finder</h1>
    <div class="toolbar-container">
        <mat-toolbar-row class="welcome-toolbar">
            <button class="welcome-button" mat-raised-button color="primary">
                <a class="welcome-link" routerLink="/login" mat-button color="primary">Login</a>
            </button>
            <button  class="welcome-button" mat-raised-button color="accent">
                <a class="welcome-link" routerLink="/register" mat-button color="primary">Register Now!</a>
            </button>
        </mat-toolbar-row>
    </div>
</body>
</html>