#welcome {
    //background-image: url('https://cdn4.explainthatstuff.com/streaming-media-concept.png');

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .action-container {
            margin: 30px;
            padding: 10px;
            border: 5px solid lightslategrey;
            height: 500px;
            width: 350px;
            background-color: rgba(176, 196, 222, 0.534);
            display: column;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .switch-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                #user-instruction {
                    opacity: .6;
                    font-weight: bold;
                }
            }
        }
    }
}

