<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body id="welcome">
    <h1>Movie Finder</h1>
    <h3>Take a peek, get a taste of my taste</h3>
    <div class="welcome-container">
        <div class="sign-in-container">
            <div class="login-container">
                <login></login>
            </div>
        </div>
        <div class="sign-up-container">
            <div class="register-container">
                <register></register>
            </div>
        </div>     
    </div>
</body>
</html>