#welcome {
    .description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 10px;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px 8px;
            margin: 15px;
            border: 5px solid black;
            height: 40px;
            width: 40px;
            font-weight: bolder;
            background-color: rgb(116, 0, 248);
            color: white;
        }
        .description {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgba(199, 103, 103, 0.336);
            border: 1px solid rgba(199, 103, 103, 0.87);
            color: rgb(67, 66, 68);
            border-radius: 4%;
            width: 50%;
            padding: 20px;
            font-size: 20px;
            span {
                margin: 10px;
            }
        }
    }   

    .welcome-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .action-container {
            margin: 30px;
            padding: 10px;
            border: 5px solid lightslategrey;
            height: 500px;
            width: 350px;
            background-color: rgba(176, 196, 222, 0.534);
            display: column;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .switch-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                #user-instruction {
                    opacity: .6;
                    font-weight: bold;
                }
            }
        }
    }
}

