#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(126, 134, 243, 0.46);
    height: 100vh;
    width: 100vw;

    .search-box {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        margin: 6px;
        width: 500px;


        .search-input {
            width: 500px;
            border: none;
            border: 1px solid black;
            padding: 14px;
        }

        .search-icon {
            font-size: 100px;
            height: auto;
            width: auto;
        }

        .search-icon:hover {
            cursor: pointer;
        }
    }  
}