#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    .register-container {
        margin-top: 30px;
        background-color: #3f51b5;
        border: 2px solid #040c24;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        .message-1 {
            color: white;
            font-size: 30px;
            margin: 20px 10px 10px 10px;
            text-align: center;
        }
        .message-2 {
            color: white;
            font-size: 20px;
            margin: 5px;
            text-align: center;
        }
        mat-card {
            background-color: white;
            width: 300px;
            form {
                display: flex;
                justify-content: center;
                margin: 10px 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                mat-form-field {
                    width: 230px;
                }
        
                .register-button {
                    margin: 30px;
                    padding: 10px;
                }
        
                .register-button:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #register {
        .register-container {
            width: 275px;
            .message-1 {
                color: white;
                font-size: 20px;
                margin: 8px;
            }
            .message-2 {
                color: white;
                font-size: 15px;
                margin: 5px;
                text-align: center;
            }
            mat-card {
                width: 225px;
                form {
                    display: flex;
                    justify-content: center;
                    margin: 10px 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
        
                    mat-form-field {
                        width: 175px;
                    }
            
                    .register-button {
                        margin: 30px;
                        padding: 10px;
                    }
            
                    .register-button:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
