<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div id="register">
        <h2 class="message-1">Create A New Account</h2>
        <h5 class="message-2">It's Quick, Easy and Free!</h5>
        <div class="register">
            <mat-card class="register-card">
                <mat-form-field  appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input matInput [formControl]="firstName" required autocomplete="off">
                    <mat-error *ngIf="firstName.invalid">{{getNameErrorMessage('firstName')}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput [formControl]="lastName" required autocomplete="off">
                    <mat-error *ngIf="lastName.invalid">{{getNameErrorMessage('lastName')}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput [formControl]="email" required autocomplete="off">
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="fill"> 
                    <mat-label>Password</mat-label>
                    <input [type]="hide ? 'password' : 'text'" matInput [formControl]="password" required autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="registerUser(firstName.value, lastName.value, email.value, password.value)" *ngIf="!isLoading"
                    [disabled]="firstName.invalid || lastName.invalid || email.invalid || password.invalid">
                    Sign Up
                </button>
            </mat-card>
        </div>
    </div>
</body>
</html>