#search {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 150px;

    .search-container {
        display: flex;
        flex-direction: row;

        .input-box {
            display: flex;
            justify-content: center;
            
            ::ng-deep .mat-form-field-wrapper  {
                height: 40px;
                width: 650px;
                background-color: #9da5bd;
                border: 2px solid black;

                ::ng-deep .mat-form-field-infix {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    border: none;
                    padding: unset;

                    ::ng-deep .mat-input-element {
                        height: 60px;
                        font-size: 25px;
                        caret-color: #040c24;
                        color: #040c24;
                        padding-left: 5px;
                    }
                    ::ng-deep .mat-form-field-label-wrapper {
                        top: -.94375em;
                        ::ng-deep .mat-form-field-label {
                            top: 1.18125em;
                            font-size: 25px;
                            color: #040c24;
                            padding-left: 5px;
                        }
                    }
                }

                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }

            .search-icon {
                height: auto;
                width: auto;
                font-size: 60px;
                color: #040c24
            }
    
            .search-icon:hover {
                cursor: pointer;
            }
        }
        
        .year-box {
            display: flex;
            justify-content: center;
   
            ::ng-deep .mat-form-field-wrapper {
                padding: unset;

                ::ng-deep .mat-form-field-infix {
                    width: 100px;
                    height: 60px;
                    padding: unset;
                    border: 2px solid black;

                    .year-input {
                        border: 2ps solid black;
                        box-shadow: none;
                        font-size: 15px;
                        background-color: #9da5bd;
        
                        ::ng-deep .mat-select-trigger {
                            height: 60px;
            
                            ::ng-deep .mat-select-value {
                                font-size: 25px;
                                vertical-align: middle;
        
                                ::ng-deep .mat-select-value-text {
                                    color: #040c24 !important;
                                }
                            }
            
                            ::ng-deep .mat-select-arrow-wrapper {
                                padding-right: 5px;
                                ::ng-deep .mat-select-arrow {
                                    color: #040c24;
                                }
                            }
                        }
                    }
                    ::ng-deep .mat-form-field-label-wrapper {
                        top: -.94375em;
                        ::ng-deep .mat-form-field-label {
                            font-size: 25px;
                            padding-left: 5px;
                            color: #040c24 !important;
                            top: 1.18125em;
                        }
                    }
                }

                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }
        } 
    }
    .search-results {
        padding: 10px;
        table {
            width: 600px;
            background-color: #b2b9e1;
            .mat-header-row {
                .mat-header-cell {
                    font-size: 20px;
                    color: #040c24;
                    font-weight: 900;
                }
            }
            .mat-row {
                height: 60px;
                .mat-cell {
                    color: #040c24;
                    font-size: 20px;
                    font-weight: 500;
                }
                .mat-column-Title {
                    width: 375px;
                }
                .mat-column-Year {
                    width: 50px;
                    padding: 5px;
                }
            }
            .mat-row:hover {
                background-color: #ff4081;
                cursor: pointer;
            }
        }
        .mat-paginator {
            background-color: #040c24;
            ::ng-deep .mat-paginator-range-actions {
                font-size: 20px;
                color: white;
            }
        }
    }

    .empty-search {
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        color: #040c24;
    }
}

::ng-deep .mat-select-panel {
    background-color: #9da5bd;
    ::ng-deep .mat-option {
        color: #040c24;
    }
}

.selected-movie {
    z-index: 100;
}

@media screen and (max-width: 1000px) {
    #search {
        margin-top: 141px;
        .search-container {       
            .input-box {               
                ::ng-deep .mat-form-field-wrapper  {
                    width: 400px;
                }
            }
        }
        .search-results {
            table {
                width: 450px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #search {
        .search-container {        
            .input-box {               
                ::ng-deep .mat-form-field-wrapper  {
                    width: 275px;
                    height: 30px;

                    ::ng-deep .mat-form-field-infix {

                        ::ng-deep .mat-input-element {
                            height: 30px;
                            font-size: 20px !important;
                            caret-color: rgba(83, 47, 47, 0.87);
                            color: rgba(83, 47, 47, 0.87);
                            padding-left: 5px;
                        }
                        ::ng-deep .mat-form-field-label-wrapper {
                            top: -1.44375em !important;
                            ::ng-deep .mat-form-field-label {
                                top: 1.68125em !important;
                                font-size: 20px !important;
                            }
                        }
     
                    }
                }
    
                .search-icon {
                    font-size: 50px;
                }
            }
            .year-box {    
                ::ng-deep .mat-form-field-wrapper {
                    height: 50px;
                    width: 75px;
                    ::ng-deep .mat-form-field-infix {
                        height: 50px;

                        .year-input {            
                            ::ng-deep .mat-select-trigger {
                                height: 50px;
                
                                ::ng-deep .mat-select-value {
                                    font-size: 20px !important;
                                }
                
                                ::ng-deep .mat-select-arrow-wrapper {
                                    padding-right: 5px;
                                }

                                ::ng-deep .mat-select-arrow-wrapper {
                                    padding-right: 1px;
                                }
                            }
                        }
                        ::ng-deep .mat-form-field-label-wrapper {
                            top: -1.44375em !important;
                            ::ng-deep .mat-form-field-label {
                                font-size: 20px !important;
                                top: 1.68125em !important;
                                padding-left: 2px !important;
                            }
                        }
                    }
                }
            }
            
        }
        .search-results {
            padding-top: 5px;
            table {
                width: 300px;
                .mat-row {
                    height: 50px;
                    .mat-cell {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}



