<div id="dashboard" *ngIf="!isError(error)">
    <mat-card class="tab-container">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" (selectedTabChange)="clearSearchResults()" color="primary">
            <mat-tab label="Recent" [disabled]="_toolBarService.isLoading">
                <infinity-scroll
                    [isGuest]="isGuest"
                    [favorites]="favorites"
                    [movies]="searchedMovies"
                    [typeScrolled]="'searchHistory'">
                </infinity-scroll>
            </mat-tab>
            <mat-tab label="Favorites" [disabled]="_toolBarService.isLoading">
                <infinity-scroll
                    [isGuest]="isGuest"
                    [favorites]="favorites"
                    [movies]="favoriteMovies"
                    [typeScrolled]="'favorites'"
                    (getNextMovies)="onGetNextMovies($event)">
                </infinity-scroll>
            </mat-tab>
        </mat-tab-group>        
    </mat-card>
    <recommended
        [isGuest]="isGuest"
        [recommendedMovies]="recommendedMovies"
        [favorites]="favorites">
    </recommended>
</div>
<div *ngIf="isError(error)">
    An error has occured, failed to load the page. Our team is aware and working on it.
    <p>Error Message: {{error}}</p>
</div>
