@import '../../../../theme.scss';

#dashboard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 80px;
    width: 100%;
    .tab-container {
        width: 55%;
        background-color: $darkAccent;
        .empty-message {
            height: 99vh;
            text-align: center;
            font-size: 40px;
            color: $primary;
            .thumb {
                font-size: 40px;
                color: lightgreen;
                height: 40px;
                width: 40px;
            }
        }
        ::ng-deep .mat-tab-label {
            color: $ternary;
            font-size: 20px;
        }
    }
    .recommended-container {
        background-color: $ternary;
        width: 100%
    }
}

.selected-movie {
    z-index: 100;
}

@media screen and (max-width: 1550px) {

}

@media screen and (min-height: 1100px) {
    #dashboard {
        .tab-container {
            
        }
        .recommended-container {
            
        }
    }
}


@media screen and (max-width: 1080px) {
    #dashboard {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        .tab-container {
            
        }
        .recommended-container {
            
        }
    }
}

@media screen and (max-width: 600px) {
    #dashboard {
        .recommended-container {
            
        }
    }
}

@media screen and (max-width: 475px) {
    #dashboard {
        .tab-container {
            ::ng-deep .mat-tab-label {
                font-size: 14px;
            }
        }
        .recommended-container {
            
        }
    }
}

@media screen and (max-width: 320px) {
    #dashboard {
        .tab-container {
            ::ng-deep .mat-tab-label {
                font-size: 12px;
            }
        }
        .recommended-container {
            
        }
    }
}
