<div id="dashboard" *ngIf="!isError(error)">
    <mat-card class="tab-container">
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms" color="primary">
            <mat-tab label="Search History">
                <infinity-scroll
                    *ngIf="!historyIsEmpty"
                    [isGuest]="isGuest"
                    [movies]="searchedMovies"
                    [typeScrolled]="'history'"
                    (getNextMovies)="onGetNextMovies($event)">
                </infinity-scroll>
                <div *ngIf="historyIsEmpty" class="empty-message">
                    <p>Your search history is empty. Search any movie to start tracking your history.</p>
                </div>
            </mat-tab>
            <mat-tab label="Favorites">
                <infinity-scroll
                    *ngIf="!favoritesIsEmpty"
                    [isGuest]="isGuest"
                    [movies]="favorites"
                    [typeScrolled]="'favorites'"
                    (getNextMovies)="onGetNextMovies($event)">
                </infinity-scroll>
                <div *ngIf="favoritesIsEmpty" class="empty-message">
                    <p>To add favorites, click the <mat-icon class="thumb">thumb_up</mat-icon> on any movie</p>
                </div>
            </mat-tab>
        </mat-tab-group>        
    </mat-card>
    <div class="recommended-container">
        <recommended
            [isGuest]="isGuest"
            [recommendedMovies]="recommendedMovies">
        </recommended>
    </div>
</div>
<div *ngIf="isError(error)">
    An error has occured, failed to load the page. Our team is aware and working on it.
    <p>Error Message: {{error}}</p>
</div>
