#movie-finder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .movie-arrow {
        display: flex;
        margin-top: 335px;
        height: 40px;
    }
}

.movie-shell {
    border: 1px solid black;
    height: 450px;
    width: 300px;
}

