#movie-finder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    .movie-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.movie-shell {
    border: 1px solid black;
    height: 557px;
    width: 432px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:  112px auto;
}

