#movies {
    .rating-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .rotten-rating, .imdb-rating {
            display: flex;
            align-items: center;
            padding: 5px;
            font-family: sans-serif;
            font-weight: bold;
            img {
                padding: 5px;
            }
        }
        .empty-rating {
            height: 52px;
        }
    }
    .movie-container {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        .movie-info {
            height: 525px;
            width: 400px;
            display: flex;
            flex-direction: column;
            padding: 7px 30px 30px 30px;

            .info-title {
                margin: 5px;
                font-weight: bold;
            }
        }
        .movie-info:hover{
            cursor: pointer;
        }
        .movie-front {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                height: 500px;
                width: 375px;
            }
        }
        .movie-back {
            display: flex;
            flex-direction: column;
            background-color: rgba(197, 72, 80, 0.459);
            h2 {
                text-decoration: underline;
                text-align: center;
            }
            div {
                padding: 10px;
            }
        }
    }
    .streamsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        img {
            height: 40px;
            width: 60px;
            padding: 10px;
        }
    }
}
