<div id="movies">
    <div class="rating-container">
        <div class="rotten-rating" *ngIf="movie.rottenTomatoesRating">
            <img src="assets/images/rotten-tomatoes.png">
            {{movie.rottenTomatoesRating}}%
        </div>
        <div class="imdb-rating" *ngIf="movie.imdbRating">
            <img src="assets/images/imdb.png">
            {{movie.imdbRating}}
        </div>
    </div>
    <div class="movie-container">
        <mat-card mat-button class="movie-info movie-front" *ngIf="showPoster" (click)="transformMovie()">
            <img [src]="movie.poster" (error)="useDefault($event)">
        </mat-card>   
        <mat-card class="movie-info movie-back" *ngIf="!showPoster" (click)="transformMovie()"> 
            <h2>{{movie.title}}</h2>
            <div><span>Year:</span>{{movie.year}}</div>
            <div><span>Director:</span> {{movie.director}}</div>
            <div><span>Genre:</span> {{getGenres(movie.genres)}}</div>
            <div><span>Plot:</span> {{movie.synopsis.plot}}</div>
        </mat-card>  
    </div>
    <div class="streamsContainer">
        <img [ngStyle]="{'opacity': movie.streamingData.netflix ? '1' : '.1'}" src="assets/images/streaming-icons/netflix.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.hbo ? '1' : '.1'}" src="assets/images/streaming-icons/hbo.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.hulu ? '1' : '.1'}" src="assets/images/streaming-icons/hulu.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.disneyPlus ? '1' : '.1'}" src="assets/images/streaming-icons/disneyPlus.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.amazonPrime ? '1' : '.1'}" src="assets/images/streaming-icons/amazon.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.iTunes ? '1' : '.1'}" src="assets/images/streaming-icons/iTunes.png"/>
        <img [ngStyle]="{'opacity': movie.streamingData.googlePlay ? '1' : '.1'}" src="assets/images/streaming-icons/googlePlay.png"/>
    </div>
</div>