.register {
    display: flex;
    justify-content: center;
    .register-card {
        margin: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        background-color: rgba(199, 103, 103, 0.336);
        border: 2px solid rgba(199, 103, 103, 0.87);

        .register-input {
            margin: 5px;
            input {
                background-color: rgba(236, 235, 235, 0.692);
            }
        }

        .register-button {
            margin: 30px;
            padding: 10px;
        }

        .register-button:hover {
            background-color: limegreen;
            cursor: pointer;
        }
    }
}