<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div class="register">
        <mat-card class="register-card">
            <h3>Register</h3>
            <div class="register-input">
                <input matInput [(ngModel)]="firstName" placeholder="First Name">
            </div>
            <div class="register-input">
                <input matInput [(ngModel)]="lastName" placeholder="Last Name">
            </div>
            <div class="register-input">
                <input matInput [(ngModel)]="email" placeholder="Email">
            </div>
            <div class="register-input">
                <input matInput [(ngModel)]="password" placeholder="Password">
            </div>
            <button class="register-button" mat-raised-button (click)="registerUser(firstName, lastName, email, password)" *ngIf="!isLoading">Sign Up</button>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
    </div>
</body>
</html>