<mat-toolbar id="toolbar" color="primary">
    <mat-toolbar-row>
        <div class="nav-container">
            <mat-button-toggle-group>
                <button mat-raised-button class="tool-button" [ngClass]="{'selected-tool-button': isSearch, 'tool-button': !isSearch}" 
                    (click)="goToDashboard()" [disabled]="navInProcess" mat-button color="accent">
                    Home
                </button>
                <button mat-raised-button class="tool-button" [ngClass]="{'selected-tool-button': isFavorites, 'tool-button': !isFavorites}" 
                    (click)="goToFavorites()" [disabled]="navInProcess" mat-button color="accent">
                    Favorites
                </button>
                <button mat-raised-button class="tool-button" [ngClass]="{'selected-tool-button': isStaffPicks, 'tool-button': !isStaffPicks}" 
                    (click)="goToRecommended()" [disabled]="navInProcess" mat-button color="accent">
                    Discover
                </button>
            </mat-button-toggle-group>
        </div>
        <div class="title-container">
            <h1 class="page-title" *ngIf="isSearch">Movie Presto</h1>
            <h1 class="page-title" *ngIf="isFavorites">Favorites</h1>
            <h1 class="page-title" *ngIf="isStaffPicks">Staff Picks</h1>
        </div>
        <div class="settings-container">
            <mat-icon class="settings" (click)="openSettings()">settings</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar class="progress-bar" mode="buffer" *ngIf="getIsLoading()"></mat-progress-bar>
