<mat-toolbar id="toolbar" color="primary">
    <mat-toolbar-row class="toolbar-row">
        <div class="title-container">
            <img class="logo" src="../../../../assets/images/logo.png">
            <h2 class="title">Movie Presto</h2>
        </div>
        <div class="settings-container">
            <mat-icon class="settings" (click)="openSettings()">settings</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-progress-bar class="progress-bar" mode="buffer" *ngIf="getIsLoading()"></mat-progress-bar>
