@import '../../../../theme.scss';

#toolbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    .toolbar-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .title {
                margin-left: 20px;
                font-size: 40px;
                color: $ternary;
            }
            .logo {
                height: 50px;
                width: 50px;
            }
        }
        .settings-container {
            padding-right: 15px;
            .settings {
                margin: 10px;
                font-size: 35px;
                cursor: pointer;
                color: $ternary;
            }
        }
    }
}

.progress-bar {
    position: fixed;
    top: 64px;
    background-color: $accent;
}

@media screen and (max-width: 1000px) {
    #toolbar {
        .toolbar-row {
            .settings-container {
                padding-right: 5px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .progress-bar {
        top: 56px;
    }
}
