.toolbar-container {
    width: 100%;
    .welcome-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #3f51b5;
        h1 {
            text-align: center;
            color: white;
            margin: 10px;
            font-size: 30px;
        }
        .welcome-button {
            padding: 5px;
            margin: 10px;
            width: 100px;
            .welcome-link {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .toolbar-container {
        .welcome-toolbar {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 150px;
        }
    }
}