.toolbar-container {
    width: 100%;
    mat-toolbar-row {
        height: 80px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h1 {
            text-align: center;
            color: white;
            margin: 10px;
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 750px) {
    .toolbar-container {
        mat-toolbar-row {
            justify-content: center;
            h1 {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .toolbar-container {
        mat-toolbar-row {
            height: 175px !important;
        }
    }
}