#app {
    .main-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: lightgray;
        height: 64px;

        button {
            padding: 0px;
        }

        .tool-button:hover {
            cursor: pointer;
            background-color: grey;
        }
    }
}
