@import '../../../../theme.scss';

#favorites {
    height: 99vh;
    overflow: hidden;

    .posters {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 85%;
        overflow-y: scroll;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        
        img {
            height: 300px;
            width: 225px;
            padding: 5px;
        }
    }

    .posters::-webkit-scrollbar { /* WebKit */
        width: 0;
        height: 0;
    }

    .empty-message {
        text-align: center;
        font-size: 40px;
        color: $primary;
        .thumb {
            font-size: 40px;
            color: lightgreen;
            height: 40px;
            width: 40px;
        }
    }
}

@media screen and (max-width: 600px) {
    #searchHistory {
        .search-card {
            .history-title {
                font-size: 25px;
            }
            .history-container {
                img {
                    height: 250px;
                    width: 150px;
                }
            }
        }
        .empty-card {
            margin-top: 150px;
            .empty-container {
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
}