#favorites {
    height: 99vh;
    overflow-y: hidden;
    .posters {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        height: 85%;
        overflow-y: scroll;
        img {
            height: 300px;
            width: 225px;
            padding: 5px;
        }
    }
    .empty-message {
        
    }
}

@media screen and (max-width: 600px) {
    #searchHistory {
        .search-card {
            .history-title {
                font-size: 25px;
            }
            .history-container {
                img {
                    height: 250px;
                    width: 150px;
                }
            }
        }
        .empty-card {
            margin-top: 150px;
            .empty-container {
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
}