<div id="favorites" *ngIf="!isError(error)">
    <div 
        *ngIf="movies"
        class="posters"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="300"
        [scrollWindow]="false"
        (scrolled)="getNext(movies, count)"> 
        <img *ngFor="let movie of movies" [src]="movie.poster" matTooltip="{{movie.title}}" 
        (error)="useDefaultPoster($event)" (click)="openMovieDialog(movie.movieId)"> 
    </div>
    <div *ngIf="false" class="empty-message">
        <p>To add favorites, click the <mat-icon class="thumb">thumb_up</mat-icon> on any movie</p>
    </div>
</div>
<div *ngIf="isError(error)">
    An error has occured, failed to load the page. Our team is aware and working on it.
    <div *ngFor="let err of error">
        <p *ngIf="err">Error Message: {{err.message}}</p>
    </div>
</div>
