#searchHistory {
    display: flex;
    align-items: center;
    flex-direction: column;

    .search-card {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
 
        .history-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .back-arrow, .forward-arrow {
                color: white;
            }
            img {
                height: 300px;
                width: 200px;
                margin: 5px;
                cursor: pointer;
                border: 3px solid white;
            }
        }
    }
    .empty-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        h4 {
            color: #040c24;
            font-size: 30px;
            padding: 5px;
            margin: 0px;
        }
    }
}

@media screen and (max-width: 600px) {
    #searchHistory {
        .search-card {
            .history-title {
                font-size: 25px;
            }
            .history-container {
                img {
                    height: 250px;
                    width: 150px;
                }
            }
        }
        .empty-card {
            margin-top: 150px;
            .empty-container {
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
}