#searchHistory {
    display: flex;
    align-items: center;
    flex-direction: column;

    .search-card {
        margin-top: 125px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        background-color: rgba(41, 39, 40, 0.884);

        .history-title {
            font-size: 30px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-bottom: 15px;
            color: white;
        }
 
        .history-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .back-arrow, .forward-arrow {
                color: white;
            }
            img {
                height: 300px;
                width: 200px;
                margin: 5px;
                cursor: pointer;
                border: 3px solid white;
            }
        }
    }
    .empty-card {
        padding: 30px;
        margin-top: 200px;
        background-color: rgba(41, 39, 40, 0.884);
        .empty-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            h4 {
                color: white;
                font-size: 30px;
                padding: 5px;
                margin: 0px;
            }
            mat-icon {
                color: white !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #searchHistory {
        .search-card {
            .history-title {
                font-size: 25px;
            }
            .history-container {
                img {
                    height: 250px;
                    width: 150px;
                }
            }
        }
        .empty-card {
            margin-top: 150px;
            .empty-container {
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
}