<div id="searchHistory" *ngIf="!searchTableDisplayed">
    <h4>Recent Searches:</h4>
    <div class="history-container" *ngIf="historyExists(searchedMovies)">
        <div class="back-arrow">
            <button mat-button (click)="navigateSearchedMovies(-1)" [disabled]="!previousExists()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>  
        </div>
        <img *ngFor="let movie of displayedMovies" [src]="movie.poster" matTooltip="{{movie.title}}" 
            (error)="useDefaultPoster($event)" (click)="openMovieDialog(movie, favorites)"> 
        <div class="forward-arrow">
            <button mat-button (click)="navigateSearchedMovies(1)" [disabled]="!nextExists()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>  
        </div>
    </div>
    <div class="empty-container" *ngIf="!historyExists(searchedMovies)">
        <p>There is no search history</p>
    </div>
</div>
