<div id="movies">
    <mat-card class="movie-card"> 
        <img class="movie-poster" [src]="movie.poster" (error)="useDefault($event)">
        <div class="info-container">
            <div class="title-container">
                <h2 class="title">{{movie.title}}</h2>
            </div>
            <div class="rating-container">
                <div class="rotten-rating" *ngIf="movie.rottenTomatoesRating">
                    <img src="assets/images/rotten-tomatoes.png">
                    {{movie.rottenTomatoesRating}}%
                </div>
                <div class="imdb-rating" *ngIf="movie.imdbRating">
                    <img src="assets/images/imdb.png">
                    {{movie.imdbRating}}
                </div>
                <div class="empty-rating" *ngIf="!movie.rottenTomatoesRating && !movie.imdbRating">
                </div>
                <div class="favorites-container">
                    <mat-icon class="thumb" *ngIf="!isFavorite" matTooltip="Add To Favorites" (click)="addToFavorites(movie)">
                        thumb_up
                    </mat-icon>
                    <mat-icon class="not-interested" *ngIf="isFavorite" matTooltip="Remove From Favorites" (click)="removeFromFavorites(movie)">
                        not_interested
                    </mat-icon>
                </div>
            </div>
            <div class="data-container">
                <div class="year">{{movie.year}}</div>
                <div class="run-time">{{movie.runTime}} min</div>
                <div class="genre">{{getGenres(movie.genres)}}</div>
            </div>     
            <div class="plot">{{movie.plot}}</div>
            <div *ngIf="isStreaming(movie)" class="streaming-container">
                <h3>Streaming On:</h3>
                <img class="stream-pic" *ngIf="movie.streamingData.netflix" src="assets/images/streaming-icons/netflix.png" matTooltip="Netflix"/>
                <img class="stream-pic" *ngIf="movie.streamingData.hbo" src="assets/images/streaming-icons/hbo.png" matTooltip="HBO"/>
                <img class="stream-pic" *ngIf="movie.streamingData.hulu" src="assets/images/streaming-icons/hulu.png" matTooltip="Hulu"/>
                <img class="stream-pic" *ngIf="movie.streamingData.disneyPlus" src="assets/images/streaming-icons/disneyPlus.png" matTooltip="Disney Plus"/>
                <img class="stream-pic" *ngIf="movie.streamingData.amazonPrime" src="assets/images/streaming-icons/amazon.png" matTooltip="Prime Video"/>
                <img class="stream-pic" *ngIf="movie.streamingData.iTunes" src="assets/images/streaming-icons/iTunes.png" matTooltip="ITunes"/>
                <img class="stream-pic" *ngIf="movie.streamingData.googlePlay" src="assets/images/streaming-icons/googlePlay.png"  matTooltip="Google Play"/>
            </div>
            <div *ngIf="!isStreaming(movie)" class="streaming-container">
                <h3>Not Streaming</h3>
            </div>
        </div>
    </mat-card>  
</div>