#movies {
    .movie-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 700px;
        width: 900px;
        padding: 0px;
        background-color: rgb(59, 1, 1);
        .movie-poster {
            height: 700px;
            width: 50%;
        }

        .info-container {
            height: 700px;
            width: 60%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .favorites-container {
                position: absolute;
                top: 0%;
                right: 0%;
                padding: 15px;
                .thumb {
                    font-size: 40px;
                    color: lightgreen;
                    cursor: pointer;
                    padding-right: 10px;
                }
                .thumb:hover {
                    color: green;
                }
                .not-interested {
                    font-size: 40px;
                    color: red;
                    cursor: pointer;
                    padding-right: 10px;
                }
                .not-interested:hover {
                    color: darkred;
                }
            }

            .title-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px; 
                
                .title {
                    margin: 5px;
                    font-size: 45px;
                }
            }

            .rating-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 10px;
                font-size: 18px;
                .rotten-rating, .imdb-rating {
                    display: flex;
                    align-items: center;
                    padding: 5px 5px 5px 0px;
                    font-family: sans-serif;
                    font-weight: bold;
                    img {
                        margin: 5px 5px 5px 0px;
                    }
                }
                .empty-rating {
                    height: 52px;
                }
                
            }

            .data-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                padding: 5px;
                font-size: 18px;
                .year {
                    
                    margin: 0px 10px 10px 0px;
                }

                .run-time {
                    margin: 0px 10px;
                }

                .genre {
                    margin: 0px 10px;
                }
            }

            .plot {
                margin-top: 10px;
                height: 100px;
                padding: 0px 5px;
                font-size: 18px;
            }

            .streaming-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                align-items: center; 
                padding: 0px 5px;
                margin-top: 20px;
                img {
                    margin: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane {
        display: flex;
        justify-content: center;
        width: 500px !important;
        
        ::ng-deep .mat-dialog-container {
            width: 500px !important;
        }
    }
    #movies {
        .movie-card {
            display: flex;
            justify-content: center;
            width: 500px;   
            height: 450px;
            .movie-poster {
                height: 450px;
            }
            .info-container {
                width: 100% !important;
                height: 450px;

                .title-container {
                    .title {
                        font-size: 25px !important;
                    }

                    .rating-container {
                        .rotten-rating, .imdb-rating {
                            font-size: 15px;
                        }
                    }
                }

                .data-container {
                    font-size: 13px;
                }

                .plot {
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane {
        display: flex;
        justify-content: center;
        width: 350px !important;
        
        ::ng-deep .mat-dialog-container {
            width: 350px !important;
        }
    }

    #movies {
        .movie-card {
            display: flex;
            justify-content: center;
            width: 350px;   
            height: 400px;
            .movie-poster {
                display: none;
            }
            .info-container {
                height: 400px;
            }
        }
    }
}
