#movies {
    .movie-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 800px;
        padding: 0px;
        background-color: #3f51b5;
        .movie-poster {
            height: 400px;
            width: 40%;
        }

        .info-container {
            height: 400px;
            width: 60%;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            .title-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 5px;   
                
                .title {
                    margin: 5px;
                    font-size: 35px;
                }

                .check {
                    font-size: 30px;
                    color: lightgreen;
                    margin: 5px;
                }
            }

            .rating-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-left: 10px;
                .rotten-rating, .imdb-rating {
                    display: flex;
                    align-items: center;
                    padding: 5px 5px 5px 0px;
                    font-family: sans-serif;
                    font-weight: bold;
                    img {
                        margin: 5px 5px 5px 0px;
                    }
                }
                .empty-rating {
                    height: 52px;
                }
                .favorites-container {
                    .thumb {
                        font-size: 30px;
                        color: lightgreen;
                        cursor: pointer;
                        margin-left: 5px;
                    }
                    .thumb:hover {
                        color: green;
                    }
                    .not-interested {
                        font-size: 30px;
                        color: red;
                        cursor: pointer;
                        margin-left: 5px;
                    }
                    .not-interested:hover {
                        color: darkred;
                    }
                }
            }

            .data-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                padding: 5px;

                .year {
                    
                    margin: 0px 10px 10px 0px;
                }

                .run-time {
                    margin: 0px 10px;
                }

                .genre {
                    margin: 0px 10px;
                }
            }

            .plot {
                margin-top: 10px;
                height: 100px;
                padding: 0px 5px;
            }

            .streaming-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; 
                align-items: center; 
                padding: 0px 5px;
                margin-top: 20px;
                img {
                    margin: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane {
        display: flex;
        justify-content: center;
        width: 500px !important;
        
        ::ng-deep .mat-dialog-container {
            width: 500px !important;
        }
    }
    #movies {
        .movie-card {
            display: flex;
            justify-content: center;
            width: 500px;   

            .info-container {
                width: 100% !important;

                .title-container {
                    .title {
                        font-size: 25px !important;
                    }

                    .rating-container {
                        .rotten-rating, .imdb-rating {
                            font-size: 15px;
                        }
                    }
                }

                .data-container {
                    font-size: 13px;
                }

                .plot {
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    ::ng-deep .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane {
        display: flex;
        justify-content: center;
        width: 350px !important;
        
        ::ng-deep .mat-dialog-container {
            width: 350px !important;
        }
    }

    #movies {
        .movie-card {
            display: flex;
            justify-content: center;
            width: 350px;   

            .movie-poster {
                display: none;
            }
        }
    }
}
