.main-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(192, 52, 76, 0.856);

    .tool-button {
        margin: 10px 2px;
        background-color: rgba(189, 115, 115, 0.87);
        color: white;
    }

    .settings {
        color: white;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }

    .settings:hover {
        color: rgba(83, 47, 47, 0.87) !important;
    }

    .selected-tool-button {
        margin: 10px 2px;
        background-color: rgba(83, 47, 47, 0.87);
        color: white;
    }

    .tool-button:hover {
        cursor: pointer;
        background-color: rgba(83, 47, 47, 0.87);
    }
}