<mat-toolbar-row id="toolbar">
    <mat-toolbar-row class="main-toolbar">
        <div>
            <a class="tool-button" mat-raised-button routerLink="/dashboard" color="primary">Search</a>
            <a class="tool-button" mat-raised-button routerLink="/movies" color="primary">Staff Pics</a>
        </div>
        <div>
            <button class="tool-button" (click)="logout()" mat-raised-button color="primary">Log Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar-row>
<mat-progress-bar mode="buffer" *ngIf="getIsLoading()"></mat-progress-bar>