<mat-toolbar-row id="toolbar">
    <mat-toolbar-row class="main-toolbar">
        <div>
            <mat-button-toggle-group>
                <mat-button-toggle class="tool-button" routerLink="/dashboard">Search</mat-button-toggle>
                <mat-button-toggle class="tool-button" routerLink="/movies">Staff Pics</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div>
            <button class="tool-button" (click)="logout()" mat-raised-button color="primary">Log Out</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar-row>
<mat-progress-bar mode="buffer" *ngIf="getIsLoading()"></mat-progress-bar>