.main-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 37, 71, 0.856);

    .tool-button {
        padding: 5px;
        margin: 10px;
        width: 100px;
    }

    .tool-button:hover {
        cursor: pointer;
        background-color: grey;
    }
}