#login {
    form {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 100px;
        mat-form-field {
            padding: 0px 10px;
            mat-label {
                color: white;
            }
            input {
                color: white;
            }
            button {
                mat-icon {
                    color: white;
                }
            }
            ::ng-deep .mat-form-field-wrapper {
                ::ng-deep .mat-form-field-underline {
                    color: white;
                    ::ng-deep .mat-form-field-ripple {
                        background-color: white;
                    }
                }
    
                ::ng-deep .mat-form-field-subscript-wrapper {
                    mat-error {
                        color: white;
                    }
                }
            }
    
        }
        .login-button {
            font-size: 16px;
            padding: 15px;  
            margin-left: 5px; 
        }
    }

}

@media screen and (max-width: 750px) {
    #login {
        form {
            margin-right: 0px;
        }
    }
}

@media screen and (max-width: 550px) {
    #login {
       form {
            .login-inputs {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
       }
    }
}

