@import '../../../../theme.scss';

#login {
    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $darkAccent;
        width: 350px;
        .title {
            color: $ternary;
            margin: 10px;
            font-size: 30px;
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            mat-form-field {
                padding: 0px 10px;
                width: 300px !important;
                mat-label {
                    color: $darkAccent;
                    font-size: 20px;
                    padding-left: 10px;
                    top: 1.8125em !important;
                    font-weight: 600;
                }
                .email, .password {
                    background-color: $ternary;
                    height: 60px;
                    border-radius: 25px;
                    font-size: 20px;
                    font-weight: 600;
                    color: $primary;
                    padding-left: 10px;
                }
                .eye {
                    position: absolute;
                    bottom: 5px;
                    right: 5px;
                    font-size: 30px;
                    color: $primary;
                }
                ::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 10px !important;
                    ::ng-deep .mat-form-field-infix {
                        padding: .7em;
                        ::ng-deep .mat-form-field-label {
                            top: 2.7em;
                            padding-left: 20px;
                        }
                    }
                    ::ng-deep .mat-form-field-underline {
                        display: none;
                        ::ng-deep .mat-form-field-ripple {
                            background-color: white;
                        }
                    }
                    ::ng-deep .mat-form-field-subscript-wrapper {
                        mat-error {
                            color: red;
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .login-button {
                color: $ternary;
                background-color: $primary;
                font-size: 20px;
                font-weight: 600;
                width: 300px;
                margin-top: 20px;
            }
            .login-button:disabled {
                background-color: $accent;
            }
        }
        .line-break {
            width: 300px;
            margin: 30px 0px;
            border-bottom: 4px dotted $ternary;
        }
        .progress-bar {
            width: 300px;
            margin: 30px 0px;
        }
        .reg-or-guest {
            .register-button, .guest-button {
                color: $ternary;
                background-color: $primary;
                font-size: 20px;
                font-weight: 600;
                width: 140px;
                margin: 0px 5px;
                mat-icon {
                    color: $primary;
                }
            }
            .register-button:disabled, .guest-button:disabled {
                background-color: $accent;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #login {
        .login-card {
            width: 250px;
            form {
                mat-form-field {
                    width: 250px !important;
                    .email, .password {
                        font-size: 15px;
                    }
                    .eye {
                        bottom: 11px;
                        font-size: 25px;
                    }
                }
                .login-button {
                    color: $ternary;
                    background-color: $primary;
                    font-size: 20px;
                    font-weight: 600;
                    width: 250px;
                    margin-top: 20px;
                }
                .login-button:disabled {
                    background-color: $accent;
                }
            }
            .line-break {
                width: 250px;
            }
            .progress-bar {
                width: 250px;
            }
            .reg-or-guest {
                .register-button, .guest-button {
                    width: 110px;
                }
            }
        }
    }
}
