#search {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .search-title {
        font-size: 50px;
        color: rgba(83, 47, 47, 0.87);
    }

    .search-container {
        display: flex;
        flex-direction: row;
        
        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6px;
            height: 40px;
            padding: 30px 25px 25px 25px;
            width: 500px;
            border-radius: 2%;
            box-shadow: 2px 2px 2px 2px;
            background-color: rgba(243, 203, 210, 0.856);


            .search-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 500px;
                height: 60px;

                ::ng-deep .mat-form-field-wrapper  {
                    height: 40px;
                    width: 400px;
                    background-color: rgba(87, 13, 13, 0.87);

                    ::ng-deep .mat-form-field-infix {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        border: none;
                        padding: unset;

                        ::ng-deep .mat-input-element {
                            height: 60px;
                            font-size: 25px;
                            caret-color: white;
                            color: white;
                            padding-left: 5px;
                        }

                        ::ng-deep .mat-form-field-label {
                            top: 1.18125em;
                            font-size: 25px;
                            color: white;
                            padding-left: 5px;
                        }
                    }

                    ::ng-deep .mat-form-field-underline {
                        display: none;
                    }
                }

                .search-icon {
                    height: auto;
                    width: auto;
                    font-size: 60px;
                    color: white;
                }
        
                .search-icon:hover {
                    cursor: pointer;
                }
            }
        }
    
        .year-box {
            height: 60px;
            width: 100px;
            max-width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6px;
            color: white;
            background-color: rgba(87, 13, 13, 0.87);

            ::ng-deep .mat-form-field-wrapper {
                width: 100px;
                height: 40px;
                font-size: 25px;
                padding-bottom: unset;

                ::ng-deep .mat-form-field-flex {
                    height: 40px;
                }

                ::ng-deep .mat-form-field-infix {
                    height: 40px;
                    border-top: unset;
                    padding: unset;
                }

                ::ng-deep .mat-form-field-underline {
                    display: none;
                }

                .year-input {
                    border: none;
                    box-shadow: none;
                    font-size: 15px;
                    padding-left: 5px;

                    ::ng-deep .mat-select-trigger {
                        height: 40px;
                        vertical-align: middle;

                        ::ng-deep .mat-select-value {
                            font-size: 25px;
                            vertical-align: middle;

                            ::ng-deep .mat-select-value-text {
                                color: white !important;
                            }
                        }

                        ::ng-deep .mat-select-arrow-wrapper {
                            padding-right: 10px;
                        }
                    }
                }

                ::ng-deep .mat-form-field-label {
                    top: 1.10em;
                    padding-left: 5px;
                    color: white !important;
                }
            }
        }
    }

    .search-results {
        table {
            width: 500px;
            tr {
                .mat-column-Title {
                    width: 300px;
                }
            }
            .mat-row:hover {
                background-color: lightblue;
                cursor: pointer;
            }
        }
    }

    .empty-search {
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
    }
}

::ng-deep .mat-select-panel {
    background-color: rgba(243, 203, 210, 0.856);
}

.selected-movie {
    z-index: 100;
}

@media screen and (max-width: 575px) {
    #search {
        .search-title {
            font-size: 35px;
        }
        .search-container {
            .input-container {
                width: 300px;
                height: 100px;
                flex-direction: column;
                .search-box {
                    width: 300px;
                }
            }
            .year-box {
                margin-top: 25px;
            }
        }
        .search-results {
            table {
                width: 300px;
                tr {
                    height: 30px;
                }
            }
        }
    }
}