@import '../../../../theme.scss';

#welcome {
    margin-left: 100px;
    height: 99vh;
    .welcome-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 85vh;
        .title-container-sm {
            .title-sm {
                display: none;
             }
             .logo-sm {
                 display: none;
             }
        }
        .description-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 10px;
            .title-container {
                display: flex;
                flex-direction: row;
                .logo {
                    height: 65px;
                    width: 65px;
                    margin: 10px;
                }
                .title-lg {
                    margin: 10px;
                    font-size: 50px;
                    color: $primary;
                    font-weight: bold;
                }
            }
            mat-list {
                mat-list-item {
                    mat-icon {
                        color: #3b0101;
                        font-weight: bold;
                    }
                    .item-text {
                        font-size: 20px;
                        color: $darkAccent;
                        font-weight: 600;
                    }
                }
            }
        }   
    }
}

@media screen and (max-width: 1350px) {
    #welcome {
        overflow-y: auto;
        .welcome-container {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            height: unset;
            .title-container-sm {
                display: flex;
                .title-sm {
                    display: block;
                    margin: 0px 0px 20px 10px;
                    font-size: 55px;
                    color: $primary;
                    font-weight: 800;
                    text-align: center;
                }
                .logo-sm {
                    display: block;
                    height: 45px;
                    width: 45px;
                    margin-top: 10px;
                }
            }
            .title-container {
                .logo {
                    display: none;
                }
                .title-lg {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #welcome {
        margin-left: 0px;
        .welcome-container {
            .description-container {
                margin: 50px 0px;
                h3 {
                    font-size: 40px;
                }
                ::ng-deep .mat-list .mat-list-item .mat-line{
                    padding: 5px;
                    word-wrap: break-word;
                    white-space: pre-wrap;
               }
                mat-list {
                    mat-list-item {
                        height: auto;
                        .item-text {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    #welcome {
        .welcome-container {
            .description-container {
                margin: 30px 0px;
                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}



