<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body id="welcome">
    <div class="welcome-container">
        <div class="description-container">
            <div class="title-container">
                <img class="logo" src="../../../../assets/images/logo.png">
                <h3 class="title-lg">Welcome to Presto</h3>
            </div>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Search any movie title, and find out where the movie is streaming</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Browse our hand picked list of recommended movies</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Track of all your favorites</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Updated daily</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">It's Free</div>
                </mat-list-item>
            </mat-list>
        </div>
        <login *ngIf="showLogin" (toggleForm)="toggleForm($event)"></login>
        <register *ngIf="!showLogin" (toggleForm)="toggleForm($event)"></register>
        <div class="title-container-sm">
            <img class="logo-sm" src="../../../../assets/images/logo.png">
            <h3 class="title-sm">Presto</h3>
        </div>
    </div>
</body>
</html>