<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body id="welcome">
    <div class="welcome-container">
        <div class="description-container">
            <h3 class="title-2">Welcome to Movie Presto</h3>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Search any movie title, and find out which apps are streaming the movie today</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Track of all your favorites so you never miss a chance to watch them</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Check out our hand picked list of favorite movies</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">Updated daily</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>done</mat-icon>
                    <div mat-line class="item-text">It's Free</div>
                </mat-list-item>
            </mat-list>
        </div>
        <register></register>
    </div>
</body>
</html>