<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body id="welcome">
    <div class="welcome-container">
        <div class="description-container">
            <div class="logo">
                <img src="../../../assets/images/logo.png"/>
            </div>
            <div class="description">
                <p>
                    With Movie Presto never pay for a movie thats streaming on an app you already subscribe to! Search any movie title, and Movie Presto finds 
                    what platforms your movie is streaming on. Movie Presto searches Netflix, HBO Go, Hulu, Amazon Prime and more to bring you updated 
                    streaming information.  
                </p>
                <span class="sign-up">Sign Up Today!</span>
            </div>
        </div>
        <register></register>
    </div>
    <div class="contact-us">
        
    </div>
</body>
</html>