#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .welcome-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .description-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 10px;
            .logo {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 8px;
                margin: 15px;
                border: 5px solid rgba(199, 103, 103, 0.87);
                height: 40px;
                width: 40px;
                font-weight: bolder;
                background-color: rgba(199, 103, 103, 0.336);
                color: rgba(87, 13, 13, 0.87);
            }
            .description {
                display: flex;
                align-items: center;
                flex-direction: column;
                background-color: rgba(199, 103, 103, 0.336);
                border: 2px solid rgba(199, 103, 103, 0.87);
                color: rgb(67, 66, 68);
                border-radius: 4%;
                width: 50%;
                padding: 20px;
                font-size: 20px;
                .sign-up {
                    margin: 10px;
                    text-align: center;
                }
            }
        }   
    }
}

@media screen and (max-width: 1000px) {
    #welcome {
        .welcome-container {
           .description-container {
               display: none;
           }
        }
    }
}


