::ng-deep .cdk-overlay-container {
    ::ng-deep .cdk-global-overlay-wrapper {
        ::ng-deep .cdk-overlay-pane {
            max-width: unset !important;
            width: unset !important;
            ::ng-deep .mat-dialog-container {
                padding: 0px;
                border-radius: 25px;
            }
        }    
    }
}
