<div id="movies" *ngIf="showMovies">
    <div class="rating-container">
        <div class="rotten-rating" *ngIf="movies[movieIndex].rottenTomatoesRating">
            <img src="assets/images/rotten-tomatoes.png">
            {{movies[movieIndex].rottenTomatoesRating}}%
        </div>
        <div class="imdb-rating" *ngIf="movies[movieIndex].imdbRating">
            <img src="assets/images/imdb.png">
            {{movies[movieIndex].imdbRating}}
        </div>
    </div>
    <div class="movie-container">
        <button mat-button [disabled]="disablePrev()" (click)="getPrevMovie()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <mat-card mat-button class="movie-info movie-front" *ngIf="showPoster" (click)="transformMovie()">
            <img [src]="movies[movieIndex].poster">
        </mat-card>   
        <mat-card class="movie-info movie-back" *ngIf="!showPoster" (click)="transformMovie()"> 
            <h2>{{movies[movieIndex].title}}</h2>
            <div><span>Year:</span>{{movies[movieIndex].year}}</div>
            <div><span>Director:</span> {{movies[movieIndex].director}}</div>
            <div><span>Genre:</span> {{getGenres(movies[movieIndex].genres)}}</div>
            <div><span>Plot:</span> {{movies[movieIndex].synopsis.plot}}</div>
        </mat-card>  
        <button mat-button [disabled]="disableNext()" (click)="getNextMovie()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>  
    </div>
    <div class="streamsContainer">
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.netflix ? '1' : '.1'}" src="assets/images/streaming-icons/netflix.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.hbo ? '1' : '.1'}" src="assets/images/streaming-icons/hbo.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.hulu ? '1' : '.1'}" src="assets/images/streaming-icons/hulu.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.disneyPlus ? '1' : '.1'}" src="assets/images/streaming-icons/disneyPlus.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.amazonPrime ? '1' : '.1'}" src="assets/images/streaming-icons/amazon.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.iTunes ? '1' : '.1'}" src="assets/images/streaming-icons/iTunes.png"/>
        <img [ngStyle]="{'opacity': movies[movieIndex].streamingData.googlePlay ? '1' : '.1'}" src="assets/images/streaming-icons/googlePlay.png"/>
    </div>    
</div>
<div *ngIf="!showMovies" class="browsing" >
    <button mat-stroked-button (click)="startShowing()">Start</button>
</div>




