#movies {
    .movie-container {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center; 
        .movie-info {
            width: 300px;
            height: 200px;
        }
        .movie-info:hover{
            cursor: pointer;
        }
    }
}

.movie-container.is-flipped {
    transform: rotateY(180deg);
}