@import '../../../../theme.scss';

::ng-deep .cdk-overlay-pane {
    display: flex;
    justify-content: center;
    
    .mat-bottom-sheet-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: $primary;

        .settings-button {
            background-color: $ternary;
            width: 150px;
            .settings-label {
                color: $primary;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}
