<mat-list id="settings" color="primary">
    <mat-list-item role="listitem" color="accent">
        <button mat-raised-button class="settings-button" disabled>
            <span class="settings-label">Contact Us</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-raised-button class="settings-button" (click)="openResetPasswordDialog()">
            <span class="settings-label">Change Password</span>
        </button>
    </mat-list-item>
    <mat-list-item role="listitem">
        <button mat-raised-button class="settings-button" (click)="logout()" >
            <span class="settings-label">Logout</span>
        </button>
    </mat-list-item>
</mat-list>