@import '../../../../theme.scss';

#movie-finder {
    overflow: hidden;
    height: 99vh;
    .recs-container {
        height: 100%;
        margin: 40px;
        movie {
            height: 100%;
            width: 100%;
        }
    }
}

.block-arrow-container {
    .block-movie-arrow {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    #movie-finder {
        
    }
}
