<div id="movie-finder">
    <h2 class="recs-title" color="primary">Recommended</h2>
    <div class="recs-container">
        <div class="inline-movie-arrow">
            <button mat-button (click)="changeMovie(-1)">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </div>
        <movie 
            [movie]="getCurrentMovie()" 
            [(favoriteMovies)]="favoriteMovies"
            [isFavorite]="isFavorite">
        </movie>
        <div class="inline-movie-arrow">
            <button  mat-button (click)="changeMovie(1)">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>  
        </div>
    </div>
    <div class="block-arrow-container">
        <div class="block-movie-arrow">
            <button  mat-button (click)="changeMovie(1)">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>  
        </div>
        <div class="block-movie-arrow">
            <button  mat-button (click)="changeMovie(1)">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>  
        </div>
    </div>
</div>
