<div id="movie-finder">
    <div class="recs-container">
        <movie 
            [isGuest]="isGuest"
            [movie]="selectedMovie" 
            [isFavorite]="selectedMovie.isFavorite"
            [isRec]="true">
        </movie>
    </div>
    <div class="block-arrow-container">
        <div class="block-movie-arrow">
            <button  mat-button (click)="changeMovie(1)">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>  
        </div>
        <div class="block-movie-arrow">
            <button  mat-button (click)="changeMovie(1)">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>  
        </div>
    </div>
</div>
