#movie-finder {
    .recs-title {
        font-size: 50px;
        color: rgba(83, 47, 47, 0.87);
        text-align: center;
        margin-bottom: 50px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .recs-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .inline-movie-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.block-arrow-container {
    .block-movie-arrow {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    #movie-finder {
        .recs-title {
            font-size: 35px;
        }
        .recs-container {
            .inline-movie-arrow {
                display: none;
            }
        }

        .block-arrow-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .block-movie-arrow {
                display: inline;
                margin: 5px 120px;
            }
        }
    }
}


