#movie-finder {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    overflow: hidden;
    .recs-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.block-arrow-container {
    .block-movie-arrow {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #movie-finder {
        flex-direction: column;
        margin-top: 75px;
        .recs-container {
            .inline-movie-arrow {
                display: none;
            }
        }

        .block-arrow-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .block-movie-arrow {
                display: inline;
                margin: 5px 120px;
            }
        }
    }
}


