#favorites {
    .title {
        font-size: 50px;
        text-align: center;
        color: rgba(83, 47, 47, 0.87);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .posters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        img {
            height: 300px;
            width: 200px;
            padding: 10px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 676px) {
    #favorites {
        .title {
            font-size: 35px;
        }
        .posters {
            img {
                height: 250px;
                width: 150px;
            }
        }
    }
}