#favorites {
    .title {
        font-size: 50px;
        text-align: center;
        color: rgba(83, 47, 47, 0.87);
    }

    .posters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
        img {
            height: 300px;
            width: 200px;
            padding: 10px;
            cursor: pointer;
        }
    }
}