::ng-deep #resetPwDialog {
    background-color: #3f51b5;
}

#resetPassword {
    .inputs-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2 {
            color: white;
        }
        mat-card {
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

    }

    .success-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        h2 {
            color: white;
        }
        mat-icon {
            font-size: 40px;
            height: unset !important;
            width: unset !important;
            color: green;
            margin-left: 5px;
        }
    }

}