<div id="resetPassword">
    <div class="inputs-container" *ngIf="showInputs">
        <h2>Change Password</h2>
        <mat-card color="primary">
            <form [formGroup]="changePasswordForm"> 
                <mat-form-field appearance="outline">
                    <mat-label>Old Password</mat-label>
                    <input matInput formControlName="oldPassword" required autocomplete="off">
                    <mat-error *ngIf="changePasswordForm.hasError('required', 'oldPassword')">
                        Current password is required. 
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput formControlName="newPassword" required autocomplete="off">
                    <mat-error *ngIf="changePasswordForm.hasError('required', 'newPassword')">
                        New password is required.
                    </mat-error>
                    <mat-error *ngIf="changePasswordForm.controls.newPassword.hasError('minlength')">
                        Must be at least 7 characters.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirmPassword" required autocomplete="off" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="changePasswordForm.hasError('mismatch')">
                        Confirm password does not match.
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="updatePassword(changePasswordForm)" *ngIf="!isLoading" mat-button color="accent"
                    [disabled]="changePasswordForm.invalid || isUpdating">
                    Update
                </button>
            </form>
        </mat-card>
    </div>
    <div *ngIf="showSuccess" class="success-container">
        <h2>Password Updated</h2>
        <mat-icon>
            done
        </mat-icon>
    </div>
</div>
