<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body class="login">
    <mat-toolbar>
        <mat-toolbar-row class="login-header">
            <mat-form-field class="login-input">
                <input matInput [(ngModel)]="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field class="login-input">
                <input matInput  [(ngModel)]="password" placeholder="Password">
            </mat-form-field>

            <button mat-raised-button (click)="verifyUserAndLogin(email, password)">Login</button>
        </mat-toolbar-row>
    </mat-toolbar>    

    
</body>
</html>