<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
    <div class="login">
        <mat-card class="login-card">
            <h3>Sign In</h3>
            <div class="login-input">
                <input matInput [(ngModel)]="email" placeholder="Email">
            </div>
            <div class="login-input">
                <input type="password" matInput [(ngModel)]="password" placeholder="Password">
            </div>
            <button class="login-button" mat-raised-button (click)="verifyUserAndLogin(email, password)" *ngIf="!isLoading">Login</button>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
    </div>
</body>
</html>