.login {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;

    .login-card{      
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;  
        height: 400px;
        width: 400px;
        background-color: rgba(199, 103, 103, 0.336);
        border: 2px solid rgba(199, 103, 103, 0.87);
        
        .login-input {
            margin:5px;
            input {
                background-color: rgba(236, 235, 235, 0.692);
            }
        }

        .login-button {
            margin: 30px;
            padding: 10px;;
        }

        .login-button:hover {
            background-color: limegreen;
            cursor: pointer;
        }
    }
}


