<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body class="login">
    <div class="login-form">
        <h3>Sign In</h3>
        <div class="login-input">
            <input matInput [(ngModel)]="email" placeholder="Email">
        </div>
        <div class="login-input">
            <input matInput [(ngModel)]="password" placeholder="Password">
        </div>
        <button class="login-button" mat-raised-button (click)="verifyUserAndLogin(email, password)">Login</button>
    </div>
</body>
</html>