@import '../../../../theme.scss';

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    ::ng-deep .mat-tab-body-content {
        display: flex;
    }
    .search-options {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        z-index: 1000;
        .input-box {
            line-height: unset;
            margin-right: 5px;
            ::ng-deep .mat-form-field-wrapper  {
                height: 25px;
                width: 700px;
                background-color: $ternary;
                border: 2px solid $accent;
                border-radius: 30px;

                ::ng-deep .mat-form-field-infix {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    border: none;
                    padding: unset;

                    ::ng-deep .mat-input-element {
                        font-size: 25px;
                        caret-color: $primary;
                        color: $primary;
                        padding-left: 20px;
                    }
                    ::ng-deep .mat-form-field-label-wrapper {
                        top: -1.02375em;
                        ::ng-deep .mat-form-field-label {
                            top: 1.18125em;
                            font-size: 25px;
                            font-weight: 700;
                            color: $primary;
                            padding-left: 20px;
                        }
                    }
                }

                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }
            .search-icon {
                height: auto;
                width: auto;
                font-size: 50px;
                color: $primary;
            }
            .search-icon:hover {
                cursor: pointer;
            }
        }    
    
        .year-box {           
            line-height: unset;
            ::ng-deep .mat-form-field-wrapper {
                height: 20px;
                width: 100px;
                background-color: $ternary;
                border: 2px solid $accent;
                border-radius: 25px;
                ::ng-deep .mat-form-field-infix {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;
                    border: none;
                    padding: unset;
                    .year-input {
                        box-shadow: none;
                        font-size: 15px;
                        background-color: $ternary;
                        border-radius: 25px;
                        ::ng-deep .mat-select-trigger {
                            height: 3.125em;

                            ::ng-deep .mat-select-value {
                                font-size: 25px;
                                vertical-align: middle;
                                text-align: center;
                                           
                                ::ng-deep .mat-select-value-text {
                                    color: $primary!important;
                                }
                            }
                            ::ng-deep .mat-select-arrow-wrapper {
                                padding-right: 5px;
                                ::ng-deep .mat-select-arrow {
                                    color: $primary;
                                }
                            }
                        }
                    }
                    ::ng-deep .mat-form-field-label-wrapper {
                        top: -1.04375em;
                        ::ng-deep .mat-form-field-label {
                            font-size: 25px;
                            padding-left: 5px;
                            color: $primary !important;
                            font-weight: 700;
                            top: 1.18125em;
                        }
                    }
                }
                ::ng-deep .mat-form-field-underline {
                    display: none;
                }
            }
        } 
    }
}
.search-container {
    position: absolute;
    top: 80px;
    width: 700px;
    .search-results {
        background-color: $darkAccent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px $primary solid;
        height: 50px;
        .title, .year {
            color: $ternary;
            padding: 0px 10px;
            font-size: 20px;
            font-weight: 500;
        }
        .title {
            width: 75%;
        }
    }
    .search-results:hover {
        cursor: pointer;
        background-color: $primary;
    }
    .search-nav {
        background-color: $ternary;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        border-bottom: 1px black solid;
        height: 50px;
        .page {
            color: $primary;
            margin-right: 10px;
        }
        button {
            margin: 10px;
        }
    }
}
.empty-search {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    width: 700px;
    height: 100px;
    background-color: $ternary;
    .empty-message {
        font-size: 25px;
        font-weight: bold;
        padding: 20px;
        color: $primary;
    }
}

::ng-deep .cdk-overlay-pane {
    top: 60px !important;
    ::ng-deep .mat-select-panel {
        color: $primary;
        background-color: $ternary;    
        ::ng-deep .mat-option {
            color: $primary;
        }
    }
}