<div id="search" #searchComponent>
    <div class="search-options">
        <mat-form-field class="input-box">
            <mat-label>Search Movies...</mat-label>
            <input  
                #imdbIdSearch
                type="text"
                matInput 
                [(ngModel)]="search"  
                (keydown)="clearSearchResults()"
                [disabled]="gettingMovie"
                autocomplete="off">
            <mat-icon class="search-icon" (click)="searchMovies(search, year)">search</mat-icon>
        </mat-form-field>
        <mat-form-field class="year-box">
            <mat-label>Year</mat-label>
            <mat-select [(value)]="year" class="year-input">
                <mat-option>None</mat-option>
                <mat-option value="{{yr}}" *ngFor="let yr of getYears()" (click)="searchMovies(search, year)">
                    {{yr}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="search-container" *ngIf="moviesExist(imdbs, search) && searchTableDisplayed">
    <div class="search-results" *ngFor="let imdb of displayedImdbs" (click)="getOrCreateMovie(imdb)">
        <span class="title">{{imdb.title}}</span> 
        <span class="year">{{imdb.year}}</span>
    </div>
    <div class="search-nav" *ngIf="multiplePagesExist(totalPages)">
        <div class="page">
            Page {{currentPage + 1}} of {{totalPages}}
        </div>
        <button mat-raised-button [disabled]="!prevPageExists(currentPage)" 
            (click)="getPrevDisplayed(imdbs, moviesPerPage)">
            <mat-icon class="prev">
                arrow_back_ios
            </mat-icon>
        </button>
        <button mat-raised-button [disabled]="!nextPageExists(currentPage, totalPages)" 
            (click)="getNextDisplayed(imdbs, moviesPerPage)">
            <mat-icon class="next">
                arrow_forward_ios
            </mat-icon>
        </button>
    </div>
</div>
<div *ngIf="noSearchResults" class="empty-search">
    No movies found from search
</div>
